*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* /* body{
    overflow-x: hidden;
    /* background-color: rgba(179, 185, 169, 0.493); */

/* .container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    clip-path: polygon(78% 3%, 100% 52%, 18% 100%, 0 49%); */ */

} */
ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
ul li{
    padding: 10px;
}
ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(31, 7, 7);
}
button{
    margin-top: 99%;
    margin-left: 90%;
    padding: 10px;
}